<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="aspnetrelease" value="https://www.myget.org/F/aspnetrelease/api/v3/index.json" />
    <add key="automapperdev" value="https://www.myget.org/F/automapperdev/api/v3/index.json" />
  </packageSources>
</configuration>